---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Title from "../shared/Title.astro";
import Container from "../shared/Container.astro";
import type { TestimonialItem } from "../../types/TestimonialItem";

const { testimonial } = Astro.props;
---

<ViewTransitions />

<section class="section">
  <Container className="container space-y-10 md:space-y-12">
    <div class="row">
      <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title>
          Ediciones Anteriores
        </Title>
      </div>
      <div class="col-1">
        <div class="swiper testimonial-slider">
          <div class="swiper-wrapper">
            {testimonial.map((item: TestimonialItem) => (
              <div class="swiper-slide">
                <div class="rounded-lg bg-theme-light px-7 py-10 dark:bg-darkmode-theme-light testimonial-item">
                  <div class="mt-0">
                    <div class="flex flex-wrap m-0.5 w-96">
                      {item.image.slice(0, 4).map((imgSrc) => (
                        <div class="w-44 h-44  m-1"> 
                          <img
                            src={imgSrc}
                            class="w-full h-full object-cover rounded-md"
                            alt={item.description}
                          />
                        </div>
                      ))}
                    </div>
                    <a href={item.link} target="_blank" rel="noopener noreferrer">
                      <p class="hover-text text-lg md:text-xl font-semibold text-heading-2 text-center ">
                        {item.description}
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            ))}
            <!-- {testimonial.map((item: TestimonialItem) => (
                <div class="swiper-slide">
                  <div class="rounded-lg bg-theme-light px-7 py-10 dark:bg-darkmode-theme-light testimonial-item">
                    <div class="mt-0 flex items-center">
                      <div class="ml-4">
                        <a href={item.link} target="_blank" rel="noopener noreferrer">
                          <img
                              src={item.image[0]}
                              class="h5 font-primary font-semibold"
                              alt={item.description}
                          />
                          <p
                              class="hover-text text-lg md:text-xl font-semibold text-heading-2 text-center"
                          >
                            {item.description}
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            ))} -->
          </div>
          <div class="testimonial-slider-pagination mt-3 items-center justify-center text-center" />
        </div>
      </div>
    </div>
  </Container>
</section>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>

<style>
  .testimonial-item {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .testimonial-item:hover {
    transform: scale(1.05);
  }

  .hover-text {
    color: #FFFF;
    transition: color 0.3s ease;
  }

  .testimonial-item:hover .hover-text {
    color: #008CF1;
  }
</style>
